body, html {
	width: 100%;
}

span {
	font-weight: 500;
}

div {
	width: 40%;
    word-wrap: break-word;
}

#out-put {
	width: 50%;
	float: left;
}

.tab {
	width: 10px;
}
.container {
	float: right;
	padding: 20px;
}

.container > textarea {
	width: 100%;
}

.container > button {
	width: 49%;
}



.bold {
	font-size: x-large;
}
.spacing {
	margin-left: 3px!important;
}

.matt {
	position:relative;
	margin:0.5px;
	top:0.5px;
	font-family: "HelveticaNeue-CondensedBold"
}

.matt1 {
	position:relative;
	margin:0.5px;
	left:0.2px;
	font-family: "HelveticaNeue-CondensedBold"
}
.matt2 {
	position:relative;
	margin:0.5px;
	left:0.5px;
	bottom:0.5px;
	font-family: "HelveticaNeue-CondensedBold"
}

.matt3 {
	position:relative;
	margin:0.5px;
	right:0.5px;
	bottom:0.5px;
	font-family: "HelveticaNeue-CondensedBold"
}

.matt4 {
	position:relative;
	margin:0.5px ;
	right:0.2px;
	top:1px;
	font-family: "HelveticaNeue-CondensedBold"
}
.matt5 {
	position:relative;
	margin:0.5px;
	right:0.2px;
	font-family: "HelveticaNeue-CondensedBold"
}
